.test{
    text-align:center ;
   /* color: blue;*/
}
.button-add{
  color: #fff;
  font-weight: 500;
  width : 40%;
  margin-left:5%;
  margin-bottom:20px;
  margin-top:40px;
  font-Style: normal ;
  font-size: 8px;
}
.buttonn {
  border: none;
  color: white;
  /*padding: 8px 8px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.button1 {
  background-color: #8734c2; 
  color: white; 
  border: 8px 8px solid #8734c2;
  border-radius: 4px;
}

.button1:hover {
  background-color: #ae7fd0;
  color: white;
}
